In [18]:
print("Twinkle twinkle little star\n \thow i wonder what you are\n \t\t up above the world so high\n \t\t like a diamond in the sky \ntwinkle twinkle little star\n \t how i wonder what you are")

Twinkle twinkle little star
 	how i wonder what you are
 		 up above the world so high
 		 like a diamond in the sky
twinkle twinkle little star
 	 how i wonder what you are

In [19]:
import sys
print("PYTHON VER:: ")
print(sys.version)
print("\n\nVERSION INFORMATION:: ")
print(sys.version_info)

PYTHON VER::
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]


VERSION INFORMATION::
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [20]:
from datetime import datetime
d1=datetime.now()
print("TODAY'S DATE & TIME ")
print(d1.strftime("%Y-%m-%d   %H:%M:%S"))

TODAY'S DATE & TIME
2021-10-24   17:08:08

In [23]:
rad=input("ENTER RADIUS :: ")
area=3.14* (float(rad))**2
print("AREA of given RADIUS",rad,"is:: ",area)

ENTER RADIUS :: 45
AREA of given RADIUS 45 is::  6358.5

In [22]:
a1=input("ENTER FIRST NAME: ")
a2=input("ENTER LAST NAME: ")
s1=''.join(reversed(a1))
s2=''.join(reversed(a2))


print("\n",s1 + " " +s2)

ENTER FIRST NAME: shohaira
ENTER LAST NAME: mughal

  ariahohs lahgum

In [24]:
a1=int(input("ENTER 1 NO: "))
a2=int(input("ENTER 2 NO: "))
sum=int(var1)+int(var2)
print(sum)

ENTER 1 NO: 45
ENTER 2 NO: 32
46

In [25]:
name=input("ENTER YOUR NAME: ")
eng=float(input("ENG: "))
maths=float(input("MATH: "))
urdu=float(input("URDU: "))
phy=float(input("PHYSICS: "))
chem=float(input("CHEMISTRY: "))


obtmarks=eng+maths+urdu+phy+chem
tmarks=500
per=(obtmarks/tmarks)*100
print("Percentage:" + str(per) + "%" )
grade=" "

if per==100 and per>=90:
    grade="A+"
elif per<90 and per>=80:
    grade="A"
elif  per<80 and per>=70:
    grade="B"
elif per<70 and per>=60:
    grade="C"
elif per<60 
    grade="F"
    else: 
        print("invalid input")

print("Grade: " + grade)

ENTER YOUR NAME: shohaira mughal
ENG: 34
MATH: 67
URDU: 45
PHYSICS: 98
CHEMISTRY: 34
Percentage:55.60000000000001%
Grade: F

In [26]:
a=int(input("ENTER A NATURAL NUM: "))
if a%2==0:
    print("\n NUM IS EVEN ")
else:
    print("\n NUM IS ODD ")

ENTER A NATURAL NUM: 45

 NUM IS ODD

In [28]:
L=['1',"HEY",2,5,"SAM","ASH" ,"MUGHAL"]
A=len(L)
print("LENGTH OF LIST IS : ",A)

LENGTH OF LIST IS :  7

In [ ]:
L=['1',"HEY",2,5,"SAM","ASH",545,98,65 ,"MUGHAL"]
def sum(l):
    return sum([int[i] for i in l if type(i)== int or i.isdigit() ])
 print("SUM IS: ",sum(L))

In [30]:
list=[]
x=int(input("HOW MANY ELEMENT DO YOU WANT TO INSERT ????"))
for n in range(x):
    s=int(input("ENTER ELEMENTS : "))
    list.append(s)
print("\n\nMAX ELEMENT IN LIST IS :",max(list))

HOW MANY ELEMENT DO YOU WANT TO INSERT ????2
ENTER ELEMENTS : 34
ENTER ELEMENTS : 65


MAX ELEMENT IN LIST IS : 65

list=[11,2,3,5,8,14,21,55,89,50,0]
n=len(list)
for i in range(n):
    if list[i]<5:
        print(list[i])